<ion-header>
  <ion-toolbar class="toolbar-style" color="dark">
      <ion-img src="/assets/white-connectmix.png"></ion-img><br>
    <ion-title>Login</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">

    <ion-list>
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="mail">
            </ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password" autocomplete="off">
            </ion-input>
        </ion-item>

    </ion-list>

    <ion-row class="signin">
        <ion-col>
            <ion-button (click)="login()"
            [disabled]="
            !loginForm.value.email ||
            !loginForm.value.password
            " color="primary" shape="full" expand="block">Login</ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="register()" color="primary" shape="full" expand="block">Register</ion-button>
        </ion-col>
    </ion-row>

  </form>
</ion-content>
