<ion-header>
  <ion-toolbar class="toolbar-style" color="dark">
      <ion-img src="/assets/white-connectmix.png"></ion-img><br>
    <ion-title>register</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registerForm">

    <ion-list>

        <ion-item>
            <ion-label position="stacked">Firstname</ion-label>
            <ion-input formControlName="firstname" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Lastname</ion-label>
            <ion-input formControlName="lastname" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">CEP</ion-label>
            <ion-input formControlName="cep" type="number" (change)="getAddress()">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Neighborhood</ion-label>
            <ion-input formControlName="neighborhood" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">City</ion-label>
            <ion-input formControlName="city" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Address</ion-label>
            <ion-input formControlName="address" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Number</ion-label>
            <ion-input formControlName="numberAddress" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">UF</ion-label>
            <ion-input formControlName="uf" type="text">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password" autocomplete="off">
            </ion-input>
        </ion-item>

    </ion-list>

    <ion-row class="signin">
        <ion-col>
            <ion-button (click)="register()"
            [disabled]="
            !registerForm.value.firstname ||
            !registerForm.value.lastname ||
            !registerForm.value.email ||
            !registerForm.value.password ||
            !registerForm.value.cep ||
            !registerForm.value.neighborhood ||
            !registerForm.value.city ||
            !registerForm.value.address ||
            !registerForm.value.numberAddress ||
            !registerForm.value.uf"
            color="primary" shape="full" expand="block">Register</ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="login()" color="primary" shape="full" expand="block">Login</ion-button>
        </ion-col>
    </ion-row>

  </form>
</ion-content>
