<ion-header *ngIf="profile">
  <ion-toolbar class="toolbar-style" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="/assets/white-connectmix.png"></ion-img><br>
    <ion-title> Profile </ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profile">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle class="font-color-white">Olá</ion-card-subtitle>
        <ion-card-title class="font-color-white">{{profile.firstname || ''}} {{profile.lastname || ''}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="font-color-white">
        <p>Este é o seu painel do seu perfil.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">

      <form [formGroup]="profileForm">

        <ion-list>

            <ion-item>
                <ion-label position="stacked">Firstname</ion-label>
                <ion-input formControlName="firstname" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Lastname</ion-label>
                <ion-input formControlName="lastname" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">CEP</ion-label>
                <ion-input formControlName="cep" type="number" (change)="getAddress()">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Neighborhood</ion-label>
                <ion-input formControlName="neighborhood" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">City</ion-label>
                <ion-input formControlName="city" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Address</ion-label>
                <ion-input formControlName="address" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Number</ion-label>
                <ion-input formControlName="numberAddress" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">UF</ion-label>
                <ion-input formControlName="uf" type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input formControlName="email" type="email">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input formControlName="password" type="password" autocomplete="off">
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row class="signin">
            <ion-col>
                <ion-button (click)="updateProfile()"
                [disabled]="
                !profileForm.value.firstname ||
                !profileForm.value.lastname ||
                !profileForm.value.email ||
                !profileForm.value.cep ||
                !profileForm.value.neighborhood ||
                !profileForm.value.city ||
                !profileForm.value.address ||
                !profileForm.value.numberAddress ||
                !profileForm.value.uf"
                color="primary" shape="full" expand="block">Update</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="deleteProfile()" color="danger" shape="full" expand="block">Delete</ion-button>
            </ion-col>
        </ion-row>

      </form>

    </ion-list>
</ion-content>
